<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layout.html" %}
    <style>
        body{
            background-size: 40px 40px;
            background-image: linear-gradient(to right, #80808047 1px, transparent 1px), linear-gradient(to bottom, #80808047 1px, transparent 1px);

        }

        html{
            scroll-behavior: smooth;
        }
        #formula1, #formula2, #formula3, #formula4, #formula5{
            transition: transform 1s ease;
        }
    </style>
</head>
<body class="bg-zinc-950">
    {% include "navbar.html" %}
    <div style="
    background: linear-gradient(to bottom right, #0a446580, #00000080);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
">

    </div>
    <div style="font-size: 30px;color: #80808094 !important;">
        <div style="
    z-index: -1;
    position: absolute;
    top: 60px;
    left: 60px;
" id="formula1">
            $$ a^4+4b^4=(a^2+2b^2-2ab)(a^2+2b^2+2ab) $$
        </div>
        <div style="
    z-index: -1;
    position: absolute;
    top: 15%;
    right: 20%;
" id="formula2">
            $$ \frac{-b\pm\sqrt{b^2-4ac}}{2a} $$
        </div>
        <div style="
    z-index: -1;
    position: absolute;
    bottom:25%;
    left: 30%;
" id="formula3">
            $$ \tan \frac{u}{2} = \pm \sqrt{\frac{1-\cos u}{1+\cos u}}  $$
        </div>
        <div style="
    z-index: -1;
    position: absolute;
    top: 80%;
    right: 10%;
" id="formula4" class="lg:block hidden">
            $$ V =\frac{1}{3}πr^2h  $$
        </div>


        <div style="
    z-index: -1;
    position: absolute;
    top: 80%;
    left: 15%;
"  id="formula5">
            $$ \int \log_a xdx = \frac{1}{\ln a}(x \ln x - x)+C $$
        </div>

        <div style="
    z-index: -1;
    position: absolute;
    top: 30%;
    left: 2%;
"  id="formula6">
            $$ D_n = n!\sum_{k=0}^n\frac{(-1)^k}{k!}  $$
        </div>

        <div class="lg:block hidden" style="
    z-index: -1;
    position: absolute;
    top: 60%;
    right: 5%;
"  id="formula7">
            $$ (p-1)! \equiv -1 \pmod p  $$
        </div>



    </div>
{#    <canvas id="myChart" style="width:100%;max-width:600px; position: absolute; z-index: -1;"></canvas>#}
    <div class="w-1/2 mx-auto" style="margin-bottom: 70vh; margin-top: 20vh;">
        <h1 class="text-white text-8xl text-center font-extrabold" style="
    background: -webkit-linear-gradient(left, #29ab42, #2249f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cabin Sketch';, sans-serif;
    font-weight: 900;
">Math, For Real</h1>
        <p class="text-white text-3xl text-center" style="
    font-weight: 100;">
            Elevating futures, One Equation at a Time
        </p>

    </div>
    <div class="w-3/4 mx-auto" style="margin-bottom: 40vh;">
        <h1 class="text-white text-4xl text-center mb-8 font-extrabold" style='font-family: "Black Han Sans", sans-serif'>Our Impact 🔥 </h1>
        <div class="w-1/4 float-left">
            <div>
                <p class="text-center text-slate-600 uppercase">Students Educated</p>
                <p class="text-center text-7xl font-extrabold" style="
    background: -webkit-linear-gradient(left, #f00, #fff000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
"><span id="counterOne">0</span><span id="plus1" class="hidden">+</span></p>
            </div>

        </div>
        <div class="w-1/4 float-left">
            <div>
                <p class="text-center text-slate-600 uppercase">Countries Served</p>
                <p class="text-center text-7xl font-extrabold" style="
    background: -webkit-linear-gradient(left, #01ff00, #0300ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
"><span id="counterTwo">0</span></p>
            </div>

        </div><div class="w-1/4 float-left">
        <div>
            <p class="text-slate-600 uppercase text-center">Qualified Experts</p>
            <p class="text-center text-7xl font-extrabold " style="
    background: -webkit-linear-gradient(left, #ff002a, #2a00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
"><span id="counterThree">0</span><span id="plus2" class="hidden">+</span></p>
        </div>

    </div><div class="w-1/4 float-left">
        <div>
            <p class="text-slate-600 uppercase text-center">Lessons Developed</p>
            <p class="text-center text-7xl font-extrabold " style="
    background: -webkit-linear-gradient(left, #00cdff, #feff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
"><span id="counterFour">0</span><span id="plus3" class="hidden">+</span></p>
        </div>

    </div></div>
    <div class="w-3/4 mx-auto" style="margin-bottom: 20vh;" bis_skin_checked="1">
        <h1 class="text-white text-5xl text-center mb-8" style="font-weight: 900;font-family: 'Cabin Sketch';">Parents Love Us ❤️</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 " bis_skin_checked="1">


            <div class="border rounded-lg shadow bg-gray-800/30 border-gray-700 my-3 mr-3 backdrop-blur-sm" bis_skin_checked="1">

                <div class="p-5" bis_skin_checked="1">





                    <div class="flex items-center" bis_skin_checked="1" style="
">
                        <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                        </svg>

                        <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                        </svg>
                        <span class="text-slate-600 font-bold ml-5">    5 out of 5</span></div>


                    <p class="mb-3 font-normal text-slate-400" style="
">Again, we wanna express our gratitude to <span class="text-emerald-400 font-bold">instructor Aaron</span>! Although my child gave wrong answers, he immediately understood his mistake after Aaron's explanations. He isn't that fluent with English so he couldn't express it in class, but again, thank you so much, Aaron! 🌹🌹🌹</p>

                    <p class="mb-3 font-normal text-slate-600" style="
">- Anonymous Parent</p></div>
            </div>

            <div class="border rounded-lg shadow bg-gray-800/30 border-gray-700 my-3 mr-3 backdrop-blur-sm" bis_skin_checked="1">

                <div class="p-5" bis_skin_checked="1">





                    <div class="flex items-center" bis_skin_checked="1" style="
">
                        <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                        </svg>

                        <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                        </svg>
                        <span class="text-slate-600 font-bold ml-5">    5 out of 5</span></div>


                    <p class="mb-3 font-normal text-slate-400" style="
">The instructor, <span class="text-sky-400 font-bold">Maddie</span>, was really good and both of my kids completed the survey voluntarily and gave a score of 10/10! The instructor was also very patient.</p>

                    <p class="mb-3 font-normal text-slate-600" style="
">- Vicky, Parent</p></div>
            </div><div class="border rounded-lg shadow bg-gray-800/30 border-gray-700 my-3 mr-3 backdrop-blur-sm" bis_skin_checked="1">

            <div class="p-5" bis_skin_checked="1">





                <div class="flex items-center" bis_skin_checked="1" style="
">
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                    </svg>

                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                    </svg>
                    <span class="text-slate-600 font-bold ml-5">    5 out of 5</span></div>


                <p class="mb-3 font-normal text-slate-400" style="
">My child wanted me to tell you that <span class="text-amber-400 font-bold">Kaka</span> is an amazing instructor and he truly enjoyed your last session.</p>

                <p class="mb-3 font-normal text-slate-600" style="
">- Aya, Parent</p></div>
        </div><div class="border rounded-lg shadow bg-gray-800/30 border-gray-700 my-3 mr-3 backdrop-blur-sm" bis_skin_checked="1">

            <div class="p-5" bis_skin_checked="1">





                <div class="flex items-center" bis_skin_checked="1" style="
">
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                    </svg>

                    <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                    </svg>
                    <span class="text-slate-600 font-bold ml-5">    5 out of 5</span></div>


                <p class="mb-3 font-normal text-slate-400" style="
">Thank you, <span class="text-amber-400 font-bold">Kaka </span>for your session. I've often wondered what makes many kids get turned off math. Is it just boring drills? Maybe they don't see bigger picture or the point of it all? My child has expressed such frustration to me the past couple of years. Any effort to show the rele in the real word is commendable and so thank you for trying to enlighten these children. They respond to older students more than their parents!
                    I'm looking forward to future topics!
                </p>

                <p class="mb-3 font-normal text-slate-600" style="
">- Gayatri, Parent</p></div>
        </div></div>

    </div>

        <div class="w-1/2 mx-auto" style="margin-bottom: 20vh;">
        <h1 class="text-white text-4xl text-center mb-8 font-extrabold "  style='font-family: "Black Han Sans", sans-serif'>Our Mission</h1>
        <p class="text-gray-400 text-justify text-lg">
            As students, we best understand what other students don’t understand.
            Inspired to make math exciting, intuitive, and accessible to everyone, we are dedicated to helping our students develop not only mathematical thinking and intuition, but also understand its connections with the real world.
            We adopted the discussion form of math circles, where everyone gets to participate and contribute to the flow of the sessions.
            Our goal is for students to excel at in-class math and be excited to explore math outside of class.
            We are a group of middle school and high school volunteers who understand what others are struggling through. We want to revolutionize the way in-class math is taught, and thus, how everyone views math.
        </p>
    </div>

    <div class="w-3/4 mx-auto" style="margin-bottom: 20vh;">
        <h1 class="text-white text-4xl text-center mb-8" style='font-weight: 900;  font-family: "Black Han Sans", sans-serif'>Course Offerings ✨</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 ">


            <div class="border rounded-lg shadow bg-gray-800/30 border-gray-700 m-3 backdrop-blur-sm">

                <div class="p-5">

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-white">Arithmetics</h5>

                    <p class="mb-3 font-normal text-gray-400" style="
">This is a program for elementary students on fundamental arithmetics. Topics include arithmetics involving decimals, fractions, multi digit multiplication, and more.</p>
                    <a class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-gradient-to-r from-emerald-400 to-blue-800 hover:bg-blue-700 focus:ring-blue-800">Course Framework<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                    </svg>
                    </a>
                </div>
            </div>
            <div class="border rounded-lg shadow bg-gray-800/30 border-gray-700 m-3 backdrop-blur-sm">

                <div class="p-5">

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-white">Algebra</h5>

                    <p class="mb-3 font-normal text-gray-400" style="
">This is a program for students who seek help with algebra and its applications. Topics include converting problems into equations, solving linear equations, ratios, etc.</p>
                    <a class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-gradient-to-r from-emerald-400 to-blue-800 hover:bg-blue-700 focus:ring-blue-800">Course Framework<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                    </svg>
                    </a>
                </div>
            </div><div class="border rounded-lg shadow bg-gray-800/30 border-gray-700 m-3 backdrop-blur-sm">

            <div class="p-5">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-white">Geometry</h5>

                <p class="mb-3 font-normal text-gray-400" style="
">This is a program for students who need help or want to explore more in the subject of Geometry. Topics include typical elementary-school geometry topics such as angles, similar triangles, circles, etc.</p>
                <a class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-gradient-to-r from-emerald-400 to-blue-800 hover:bg-blue-700 focus:ring-blue-800">Course Framework<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
                </a>
            </div>
        </div>
            <div class="border rounded-lg shadow bg-gray-800/30 border-gray-700 m-3 backdrop-blur-sm">

            <div class="p-5">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-white">Special Topics</h5>

                <p class="mb-3 font-normal text-gray-400" style="
">This is a program for advanced students who enjoy math and want to learn more advanced concepts. Topics covered in this program include graph theory, combinatorics, and trignometry</p>
                <a class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-gradient-to-r from-emerald-400 to-blue-800 hover:bg-blue-700 focus:ring-blue-800">Course Framework<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
                </a>
            </div>
        </div></div>

    </div>
    <div class="w-1/2 mx-auto" style="margin-bottom: 20vh;" bis_skin_checked="1">
        <h1 class="text-white text-4xl text-center mb-8" style="font-weight: 900;  font-family: &quot;Black Han Sans&quot;, sans-serif">Ready to Learn? 🧑‍🎓</h1>
        <div class="border rounded-lg shadow border-gray-700 m-3 backdrop-blur-sm" bis_skin_checked="1">

            <div class="p-5" bis_skin_checked="1">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-white">Enroll In Math, For Real</h5>

                <p class="mb-3 font-normal text-gray-400" style="
">To join the program, just join our Google Classroom linked below. Class timings, links, etc. can all be found there. If you have any questions, you may also ask there.</p>
                <a class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-gradient-to-r from-emerald-400 to-blue-800 hover:bg-blue-700 focus:ring-blue-800 font-bold" href="https://classroom.google.com/c/NjY5NjU3NDczNDUw?cjc=sgpjv4t">Join Google Classroom!
                </a>
            </div>
        </div>

    </div>
    <div class="w-1/2 mx-auto" style="margin-bottom: 20vh;">
        <h1 class="text-white text-4xl text-center mb-8 font-extrabold"  style='font-family: "Black Han Sans", sans-serif'>Our Team</h1>
        <p class="text-gray-400 text-justify text-lg">
            At Math, For Real, we believe that math is a subject that can be enjoyed by everyone. That's why we've developed a unique approach to tutoring that puts the fun back in math. Our free math circle sessions are designed to help students explore the subject in a new and exciting way, and our tutors are there to support them every step of the way. We are committed to helping students develop a deep understanding of math, along with its applications in the real world.
            The team at Math, For Real is composed of a group of highly talented high school students from all over California who are passionate about math and want to help others succeed. Get to know our team of math experts below.
        </p>
    </div>
    <div class="w-3/4 mx-auto mt-8 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-12 " style="margin-bottom: 20vh;">
        {% for person in team %}
            <div class="bg-gray-800/30 backdrop-blur-sm border rounded-lg shadow border-gray-700">
                <div class="flex flex-col items-center pb-10 pt-4">
                    <span class="text-sm text-gray-500 dark:text-gray-400 mb-4 uppercase">{{  person['school'] }}</span><img class="w-24 h-24 mb-3 rounded-lg shadow-lg" src="{{ person['icon'] }}">
                    <h5 class="mb-1 text-xl font-bold text-white">{{ person['name'] }} {{ person['country'] }} </h5>


                    <span class="text-sm text-gray-500 dark:text-gray-400 mx-6 text-start"><span class="text-xs font-medium mr-3 px-2.5 py-0.5 rounded-full bg-blue-900 text-blue-300">{{ person['category'] }}</span>{{ person['description'] }}</span></div>
            </div>
        {% endfor %}
    </div>



    <div class="w-1/2 mx-auto" style="margin-bottom: 20vh;">
        <h1 class="text-white text-4xl text-center mb-8" style='font-weight: 900; font-family: "Black Han Sans", sans-serif'>Get Involved</h1>
        <p class="text-gray-400 text-justify text-lg">We are always in need of dedicated volunteers who are passionate about education and making a difference. By donating your time, you can help us provide quality math education to students in need. Join our team and help us empower the next generation of problem solvers. If you are interested, please email math@math-for-real.org.

            Include: name, grade, school</p>
    </div>
    <div class="w-1/2 mx-auto" style="margin-bottom: 20vh;">
        <h1 class="text-white text-4xl text-center mb-8" style='font-weight: 900; font-family: "Black Han Sans", sans-serif'>Frequency Asked Questions</h1>

    </div>
    <footer class="rounded-lg shadow bg-gray-900/30 m-6 backdrop-blur-sm">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="/static/logo.webp" class="h-8" alt="Flowbite Logo">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Math, For Real</span>
                </a>
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 text-gray-400">
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6">About</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8">
            <span class="block text-sm text-gray-400 sm:text-center">math@math-for-real.org</span>
            <span class="block text-sm text-gray-400 sm:text-center">Icon design by Rachel Kwan, Website design by Nicholas Wang</span>

        </div>
    </footer>
    <script>
        function onElementInView(entries, observer) {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    // check which counter got triggered
                    if (entry.target.id === 'counterOne') {
                        // start counting up to 600
                        observer.unobserve(entry.target);
                        let counter = 0;
                        const interval = setInterval(() => {
                            counter++;
                            entry.target.textContent = counter;
                            if (counter === 600) {
                                document.getElementById('plus1').classList.remove('hidden');
                                clearInterval(interval);
                            }
                        }, 1);
                        // show plus sign

                    } else if (entry.target.id === 'counterTwo') {
                        // start counting up to 3
                        observer.unobserve(entry.target);
                        let counter = 0;
                        const interval = setInterval(() => {
                            counter++;
                            entry.target.textContent = counter;
                            if (counter === 3) {
                                clearInterval(interval);
                            }
                        }, 400);
                    } else if (entry.target.id === 'counterThree') {
                        // start counting up to 35
                        observer.unobserve(entry.target);
                        let counter = 0;
                        const interval = setInterval(() => {
                            counter++;
                            entry.target.textContent = counter;
                            if (counter === 35) {
                                document.getElementById('plus2').classList.remove('hidden');
                                clearInterval(interval);
                            }
                        }, 40);

                    } else if (entry.target.id === 'counterFour') {
                        // start counting up to 45
                        observer.unobserve(entry.target);
                        let counter = 0;
                        const interval = setInterval(() => {
                            counter++;
                            entry.target.textContent = counter;
                            if (counter === 45) {
                                document.getElementById('plus3').classList.remove('hidden');
                                clearInterval(interval);
                            }
                        }, 40);

                    }
                    }
            });
        }

        // Create an intersection observer
        const observer = new IntersectionObserver(onElementInView, {
            root: null, // Use the document's viewport
            rootMargin: '0px',
            threshold: 0.1 // Trigger when 10% of the target is in view
        });

        // Observe the target element
        const counterOne = document.getElementById('counterOne');
        const counterTwo = document.getElementById('counterTwo');
        const counterThree = document.getElementById('counterThree');
        const counterFour = document.getElementById('counterFour');
        observer.observe(counterOne);
        observer.observe(counterTwo);
        observer.observe(counterThree);
        observer.observe(counterFour);
    </script>
</body>
</html>